.restaurant.list
  = will_paginate restaurants if action_name == 'index'

  - if restaurants.empty?
    .empty
      没有任何结果
  - else
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th 名字
          %th 地点
          %th 描述
          %th 价位
    
      %tbody
        - restaurants.each do |r|
          %tr
            %td= r.name
            %td= r.location
            %td= r.description
            %td= '$' * r.price
  
  = will_paginate restaurants if action_name == 'index'
