%h1 餐馆列表

.search
  = form_tag search_restaurants_path, method: :get do
    = label_tag "搜索您想要的餐馆"
    = text_field_tag :q, params[:q]
    = submit_tag "搜索", class: "btn btn-primary"

= render partial: "list", locals: {restaurants: @restaurants}