body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif

body.website
  padding-top: 60px

  > .container
    min-height: 400px

$main-color: #B43026
$hover-color: adjust-lightness($main-color, 20)

.table > thead > tr > th
  border-bottom: 1px solid #DDD

a
  color: $main-color
  &:hover
    color: $hover-color
    text-decoration: none

.btn-primary
  background-color: $main-color
  border-color: $main-color
  &:hover
    background-color: adjust-lightness($main-color, -10)
    border-color: adjust-lightness($main-color, -10)

body.embed
  padding-top: 0 !important

.navbar
  border-bottom: 2px solid $main-color
  background: #fff

#footer
  width: 100%
  height: 60px
  // background-color: #F5F5F5
  padding: 10px
  .left
  .right
