.notifications
  position: fixed
  top: 0
  text-align: center
  z-index: 1100
  width: 100%
  .inner
    max-width: 800px
    margin: auto
  .alert
    padding: 5px 15px
    margin: 0 0 1px
    border-radius: 0
