// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.restaurant
  &.list
    table
      width: auto
      tr
        td
          max-width: 200px
        td:nth-child(3)
          max-width: 400px

    .empty
      color: #eee
      font-size: 30px
      width: 400px
      padding: 40px
      text-align: center
      max-width: 100%

.search
  margin: 20px 0