#footer
  .container
    .left.nav.navbar-nav
      = link_to "站长", "http://blog.linjunhalida.com/about"
      %span= "|"
      = link_to "关于", '#', id: 'about'

    .right.nav.navbar-nav.navbar-right
