.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/'} 上海好食汇
  
    .collapse.navbar-collapse
      %ul.nav.navbar-nav

      %ul.nav.navbar-nav.navbar-right



