!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title= @title || 'dining'
    %meta{name: 'description', content: @desc || ''}
    %meta{name: 'author', content: ''}
    %meta{name: 'keywords', content: 'dining,shanghai'}
    %link{rel: "shortcut icon", href: image_path("icon.png")}

    :plain
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    = stylesheet_link_tag "application.css"
    = csrf_meta_tag

  %body.website{class: "#{'embed' if session[:embed]}"}
    
    = render partial: "layouts/nav" unless session[:embed]
    = render partial: "layouts/notify"

    .container
      = yield

    = render partial: "layouts/footer"

    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application.js", debug: false
